@import "../../util/sidebar/sidebar.css";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

ul {
  list-style: none;
}

li {
  text-decoration: none;
  list-style: none;
}

a {
  list-style: none;
  text-decoration: none;
}

.wrapper #sidebar {
  text-align: center;
}
.wrapper #sidebar .contact-sidebar .button {
  box-shadow: 0 0 0 3em #b61984 inset;
  padding: 1.1em 1.5em;
  overflow: hidden;
  line-height: 4;
  font-size: 0.9em;
  font-weight: 500;
  color: #fff;
  border-radius: 50px;
  transition: all 300ms ease;
}
.wrapper #sidebar .contact-sidebar .button:hover {
  box-shadow: 0 0 0 1px #b61984 inset;
  color: #b61984;
}
.wrapper #sidebar .contact-sidebar .button i {
  padding-right: 0.5em;
}
.wrapper #sidebar .contact_icon a {
  color: #181818;
  margin-left: 1em;
  font-size: 11.7px;
}
.wrapper #sidebar .contact_icon a:hover {
  color: #b61984;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 3;
  padding: 0 30px;
}
.header .container_ {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .container_ .nav-logo {
  display: flex;
  align-items: center;
}
.header .container_ .nav-logo .navbar_toggler {
  display: none;
  background: transparent;
  border: none;
}
@media screen and (max-width: 1199px) {
  .header .container_ .nav-logo .navbar_toggler {
    display: block;
    margin-right: 1em;
  }
}
.header .container_ .nav-logo .navbar_toggler i {
  font-size: 30px;
}
.header .container_ .nav-logo .navbar_brand img {
  width: 80px;
}
@media screen and (max-width: 1199px) {
  .header .container_ .nav-logo .navbar_brand img {
    width: 48px;
  }
}
.header .container_ .navbar_link {
  display: flex;
}
@media screen and (max-width: 1199px) {
  .header .container_ .navbar_link {
    display: none;
  }
}
.header .container_ .navbar_link ul {
  margin: 0;
}
.header .container_ .navbar_link ul li {
  display: inline;
  margin-right: 50px;
}
.header .container_ .navbar_link ul li a {
  font-weight: 600;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 13px;
}
.header .container_ .navbar_link ul li a:hover {
  color: #b61984;
}
.header .container_ .navbar_link ul .active {
  position: relative;
}
.header .container_ .navbar_link ul .active::after {
  content: " ";
  display: block;
  position: absolute;
  bottom: -34px;
  margin-left: -4px;
  left: 50%;
  pointer-events: none;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: #b61984;
}
.header .container_ .navbar_link .contactbar .contact-item .button {
  box-shadow: 0 0 0 3em #b61984 inset;
  padding: 1.1em 1.5em;
  overflow: hidden;
  font-size: 0.9em;
  font-weight: 500;
  color: #fff;
  border-radius: 50px;
  transition: all 300ms ease;
}
.header .container_ .navbar_link .contactbar .contact-item .button:hover {
  box-shadow: 0 0 0 1px #b61984 inset;
  color: #b61984;
}
.header .container_ .navbar_link .contactbar .contact-item .button i {
  padding-right: 0.5em;
}
.header .container_ .navbar_link .contactbar .contact-item .button span {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}
.header .container_ .navbar_link .contactbar .contact-item a {
  color: #181818;
  margin-left: 1em;
  font-size: 11.7px;
}
.header .container_ .navbar_link .contactbar .contact-item a:hover {
  color: #b61984;
}

.aboutUs {
  position: relative;
}
.aboutUs .yellow_image_top {
  position: absolute;
  top: 0;
}
.aboutUs .yellow_image_top img {
  display: block;
  width: 100%;
}
.aboutUs .violet_img_bottom {
  position: absolute;
  bottom: 0;
}
.aboutUs .violet_img_bottom img {
  display: block;
  width: 100%;
}
.aboutUs .container_ {
  display: flex;
  align-items: center;
  padding: 4em 35px;
}
@media screen and (max-width: 992px) {
  .aboutUs .container_ {
    display: block;
  }
}
.aboutUs .container_ .intro {
  width: 50%;
}
@media screen and (max-width: 992px) {
  .aboutUs .container_ .intro {
    width: 100%;
  }
}
.aboutUs .container_ .intro h1 {
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 0.5em;
  color: #b61984;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}
.aboutUs .container_ .intro span {
  display: block;
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 1.2;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}
.aboutUs .container_ .image {
  width: 50%;
}
@media screen and (max-width: 992px) {
  .aboutUs .container_ .image {
    width: 100%;
  }
}
.aboutUs .container_ .image img {
  width: 100%;
}

.team-list {
  background-color: #dcd1f3;
  position: relative;
  z-index: 1;
}
.team-list .grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 40px;
  padding: 30px 30px 0 30px;
}
@media screen and (max-width: 992px) {
  .team-list .grid-container {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 480px) {
  .team-list .grid-container {
    grid-template-columns: 1fr;
  }
}
.team-list .grid-container .grid-item {
  border-radius: 8px;
  background-color: #fff;
  text-align: center;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}
.team-list .grid-container .grid-item:hover {
  box-shadow: 0 30px 30px -10px rgba(0, 0, 0, 0.2);
}
.team-list .grid-container .grid-item .thumbnail {
  overflow: hidden;
}
.team-list .grid-container .grid-item .thumbnail:hover img {
  transform: scale3d(1.05, 1.05, 1.05);
  border: none;
}
.team-list .grid-container .grid-item .thumbnail img {
  width: 100%;
  border-radius: 8px 8px 0 0;
  transition: transform 650ms ease-in-out, filter 650ms ease-in-out;
}
.team-list .grid-container .grid-item .detail span {
  color: #b61984;
  font-size: 0.75rem;
  margin-bottom: 0.7em;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-weight: 600;
  margin-top: 30px;
  display: block;
}
.team-list .grid-container .grid-item .detail h4 {
  font-size: 23.25px;
  font-weight: 700;
  margin-bottom: 15px;
}
.team-list .grid-container .grid-item .detail p {
  padding: 0 2em;
  font-size: 15px;
  line-height: 1.8em;
  margin-bottom: 30px;
  color: #000;
}
.team-list .bottom-coverage-image {
  position: absolute;
  z-index: -1;
  bottom: 0;
}
.team-list .bottom-coverage-image img {
  width: 100%;
  height: auto;
  display: block;
  user-select: none;
}

.find_cource {
  position: relative;
}
.find_cource .container_section {
  position: relative;
  top: 0;
  z-index: 2;
  padding-top: 90px;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 1050px) {
  .find_cource .container_section {
    display: block;
  }
}
.find_cource .container_section .left {
  padding: 20px 30px 20px 20px;
}
.find_cource .container_section .left .thumbnail img {
  display: block;
  width: 100%;
}
.find_cource .container_section .right {
  padding: 0 20px;
  margin-top: 20px;
}
.find_cource .container_section .right .div {
  box-shadow: 0 30px 30px -10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
.find_cource .container_section .right .div .form_container {
  padding: 0 25px;
  padding-bottom: 10px;
  background: white;
  border-radius: 10px;
}
.find_cource .container_section .right .div .form_container .form_content {
  margin-top: 40px;
}
.find_cource .container_section .right .div .form_container .form_content h4 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 40px;
}
.find_cource .container_section .right .div .form_container .form_content form .form-row {
  padding-bottom: 15px;
}
.find_cource .container_section .right .div .form_container .form_content form .form-row .left {
  padding: 0;
}
.find_cource .container_section .right .div .form_container .form_content form .form-row .right {
  padding: 0;
  margin: 0;
}
.find_cource .container_section .right .div .form_container .form_content form .form-row .col-6 {
  width: 140px;
  display: flex;
  justify-content: center;
}
.find_cource .container_section .right .div .form_container .form_content form .form-row .col-6 span i::before {
  position: absolute;
  left: 20px;
  top: 15px;
  color: #aa017e;
}
.find_cource .container_section .right .div .form_container .form_content form .form-row .col-6 input {
  border-radius: 50px;
  padding: 1em 1em 1em 3.5em !important;
  font-size: 0.8em !important;
  height: 3.7em;
  display: block;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 165px;
}
@media screen and (max-width: 1050px) {
  .find_cource .container_section .right .div .form_container .form_content form .form-row .col-6 input {
    width: 100%;
    margin-right: 15px;
  }
}
.find_cource .container_section .right .div .form_container .form_content form .form_select {
  padding-bottom: 15px;
  position: relative;
}
.find_cource .container_section .right .div .form_container .form_content form .form_select span {
  position: absolute;
  z-index: 10;
  top: 8px;
  left: 13px;
}
.find_cource .container_section .right .div .form_container .form_content form .form_select span i::before {
  color: #AA017E;
}
.find_cource .container_section .right .div .form_container .form_content form .form_select select {
  font-size: 0.8em;
  opacity: 0.8;
  padding: 0 0 0 3em;
  display: block;
  width: 100%;
  border-radius: 50px;
  height: 36px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.find_cource .container_section .right .div .form_container .form_content form .form-text {
  position: relative;
}
.find_cource .container_section .right .div .form_container .form_content form .form-text span {
  position: absolute;
  z-index: 10;
  top: 13px;
  left: 13px;
}
.find_cource .container_section .right .div .form_container .form_content form .form-text span i::before {
  color: #AA017E;
}
.find_cource .container_section .right .div .form_container .form_content form .form-text textarea {
  padding: 1em 1em 1em 3.5em;
  height: 90px;
  line-height: 1.5;
  font-size: 0.8em;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: block;
  width: 100%;
}
.find_cource .container_section .right .div .form_container .form_content form .form-submit {
  margin-top: 45px;
  margin-bottom: 60px;
}
.find_cource .container_section .right .div .form_container .form_content form .form-submit button {
  border-radius: 50px;
  height: 4em;
  font-size: 0.8em;
  letter-spacing: 1px;
  font-weight: 600;
  border: none;
  background: transparent;
  box-shadow: 0 0 0 3em #b61984 inset;
  color: #fff;
  display: block;
  width: 150px;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  transition: all 0.3s;
}
.find_cource .container_section .right .div .form_container .form_content form .form-submit button:hover {
  box-shadow: 0 0 0 1px #b61984 inset;
  border: 1px solid #AA017E;
  color: #AA017E;
}
.find_cource .bottom_img {
  position: absolute;
  bottom: 0;
}
.find_cource .bottom_img img {
  display: block;
  width: 100%;
}

footer .section_background {
  background-color: #AA017E;
  background-image: url(../../img/footer_background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}
footer .section_background .section_container {
  padding: 120px 0 160px;
  margin-left: 20px;
  color: #fff;
}
footer .section_background .glob h3 {
  font-size: 1.55rem;
  font-weight: 700;
  margin-bottom: 30px;
}
footer .section_background .glob ul li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  width: 65px;
}
footer .section_background .glob ul li a {
  font-size: 0.9em;
  color: #fff;
  text-decoration: none;
  transition: all 0.3s;
}
footer .section_background .glob ul li a:hover {
  opacity: 0.8;
}
footer .section_background .glob ul .first {
  padding-bottom: 12px;
}
footer .section_background .glob ul .clone {
  padding: 12px 0;
}
footer .section_background .contact .detail p {
  margin: 0;
}
footer .section_background .contact .detail p i {
  font-size: 1rem;
  color: #fff;
}
footer .section_background .contact .detail p span {
  font-size: 0.8em;
  padding-left: 0.8em;
  color: #fff;
  font-weight: 400;
}
footer .section_background .contact .detail p a {
  display: inline-block;
  margin-top: 15px;
  color: #fff;
}
footer .section_background .contact .detail p a i {
  padding-right: 15px;
  transition: all 0.3s;
}
footer .section_background .contact .detail p a:hover i {
  color: #000;
}
footer .section_background .newsletter form {
  color: #fff;
}
footer .section_background .newsletter form input {
  border-radius: 50px;
  display: block;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background-color: #AA017E;
  color: #fff;
  font-size: 0.9em;
  padding: 15px 40px;
  text-align: center;
  margin-bottom: 8px;
}
footer .section_background .newsletter form input::placeholder {
  color: #fff;
}
@media screen and (max-width: 576px) {
  footer .section_background .newsletter form input {
    background-color: rgba(170, 1, 126, 0);
  }
}
footer .section_background .newsletter form button {
  padding: 15px 84px;
  color: #000;
  box-shadow: 0 0 0 3em #fff inset;
  text-align: center;
  background-color: transparent;
  border-radius: 50px;
  border: none;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 0.8em;
  letter-spacing: 1px;
  font-weight: 600;
  transition: all 0.3s;
}
footer .section_background .newsletter form button:hover {
  box-shadow: 0 0 0 1px #b61984 inset;
  border: 1px solid #fff;
  color: #fff;
}